.header-color{background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
.landing-banner{
  padding-top: 1em;
  height: 500px;
  width: 100%;
}

.banner-text {
  height: 70px;
  width: 100%
}

.banner-text h1{
  font-size: 50px;
  text-align: center;
  color: white;
}

.mdl-badge {
  width: 24px;
}

.clp-landing-banner{
  height: 275px;
  width: 100%;
  padding-bottom: 1em;
}

.clp-landing-grid{background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clp-background {
  display: flex;
  width: 100%;
}

.card-image {
 width: 200px;
 height: 200px;
}

.promo-icon-block{
  height: 30px;
  width: 100%;
  background: white;
  font-weight: bold;
  text-align: center;
 }

 .logo{
  width: 50px;
  height: 50px;
 }

 .breadcrumb{
   background: grey;
   height: 40px;
   font-size: 20px;
   text-align: left;
}

.breadcrumb-item{
  color: white;
}

 
 .mdl-layout__drawer-button{
   color: gray;
 }

 .pdp-image{
   padding-left: 2em;
   height: 500px;
   width:500px;
   border: 2px;
 }

.pdp-button-div{
  padding-top: 2em;
  padding-left: 2em;
}

.submit-button{
  margin: 2em;
  color: black;
  background: orange;
  width: 150px;
  height: 30px;
}

.pdp-button-round{
  margin: 1em;
  color: black;
  background: orange;
}

.plp-landing-banner{
  height: 400px;
  width: 100%;
}

.plp-landing-grid{background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.email-sign-up-text{
  height: 50px;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
}

.email-sign-up{
  height: 75px;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.new-arrivals-text{
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 1em;
}

.currently-trending-text{
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 1em;
}

.plp-refine{
  width: 300px;
  height: 900px;
  background: #bdc3c7;
  padding-top: 2em;
}

.price{
  color: red;
}

.login-div-container{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.new-arrivals-section{
  height:500px;
  background: #2193b0;
}

.currently-trending-section{
  height:500px;
  background: #2193b0;
}

.know-your-gucci-text{
  text-align: center;
  color: white;
}

.video-iframe{
  text-align: center;
}

.clp-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(250px, auto);
}

.plp-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.plp-refine-brands{
  padding-left: 2em;
}

.plp-refine-color{
  padding-left: 2em;
  padding-top: 2em;
}

.plp-refine-price{
  padding-left: 2em;
  padding-top: 2em;
}

.plp-button{
  margin: 1EM;
  color: black;
  background: orange;
  width: 150px;
  height: 30px;
}
.plp-refine-button{
  padding-left: 5em;
  padding-top: 2em;
}

.accordion {
  margin-top: 6rem;
  font-size: 20px;
  width: 100%;
}


.question {
  background: #00d7825c;
  padding: 1rem;
  box-shadow: -1px -1px 3px 0px #1a1a1a4f;
  cursor: pointer;
  font-weight: 400;
}
.answer {
  overflow: hidden;
  transition: all 0.3s ease-out;
  transform: translateY(-11%);
  opacity: 0.7;
  padding: 0 0.6rem;
  background: whitesmoke;
  font-weight: 200;
  letter-spacing: 1px;
}
.answer.open {
  opacity: 1;
  padding: 1rem;
  transform: translateY(0);
}

.holder {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fav-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(250px, auto);
}

.no-fav-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: white;
  text-align: center;
  
}

.fav-landing-grid{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.login-div-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(250px, auto);
  height: 800px;
}
.login-form{
  padding-top: 5em;
  color: white;
}
.createaccount-form{
  padding-top: 5em;
  color: white;
}
.createaccount-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(250px, auto);
  height: 800px;
}
.text-muted{
  color: whitesmoke;
}

.cart-page{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  width: 100%;
}

.cart-buttons{
  margin: 1em;
  color: black;
  background: orange;
  width: 150px;
  height: 30px;
}

.cart-image{
  width: 200px;
 height: 200px;
}

.payment-buttons{
  margin: 0.5em;
  color: black;
  background: orange;
  width: 300px;
  height: 30px;
}

.cart-product-details{
  color: white;
  padding-top: 1em;
}

.login-submit-button{
  margin: 1em;
}

.section-heading{
  color: white;
  text-align: center;
  height: 300px;
  
}

.pricing-block-cart{
  display: block;
  height: 425px;
  background-color: white;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.cart-pord-row{
  margin: 1em;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.cart-totals-label{
  padding-top: 2em;
  padding-left: 0.5em;
}

.cart-totals-value{
  padding-top: 2em;
  padding-left: 0.5em;
  text-align: right;
  padding-right: 1em;
}
